.worldMap {
    text-align: center;
    padding: 30px 0;
    color: white;
    background-color: #1e1e1e;
    border-radius: 12px;
    margin: 0 5%;
    width:100vw
  }
  
  .title {
    font-size: 36px;
    margin-bottom: 20px;
  }
  
  .mapContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: visible; /* Allow preview boxes to appear */
    position: relative;
  }
  
  .mapSvg {
    width: 80%;
    max-width: 1200px;
  }
  
  @media screen and (max-width: 767px) {
    .mapSvg {
      width: 100%;
      max-width: 100%;
    }
  }
  