.header {
    background: url('../../assets/DSC00807.jpg') no-repeat center center fixed; 
    opacity: 1;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh; /* Full height */
    width: 100vw; /* Full width */
    object-fit: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }



  @keyframes header-image-animation {
    25% {opacity: 1;}
    85%, 100% {opacity: 0; transform: scale(3);}
  }